# pandas

### import pandas and load file

In [19]:
import pandas as pd

In [21]:
file_path = "C:\\Users\\KRIT PATEL\\Documents\\PDS\\employees.csv"   
df = pd.read_csv(file_path)

##### print top 5 rows of data

In [23]:
print(df.head(5))

  First Name  Gender  Start Date  Salary  Bonus %             Team
0    Douglas    Male  08-06-1993   97308    6.945        Marketing
1     Thomas    Male   3/31/1996   61933    4.170              NaN
2      Maria  Female   4/23/1993  130590   11.858          Finance
3      Jerry    Male  03-04-2005  138705    9.340          Finance
4      Larry    Male   1/24/1998  101004    1.389  Client Services

In [25]:
print(df)

    First Name  Gender  Start Date  Salary  Bonus %                  Team
0      Douglas    Male  08-06-1993   97308    6.945             Marketing
1       Thomas    Male   3/31/1996   61933    4.170                   NaN
2        Maria  Female   4/23/1993  130590   11.858               Finance
3        Jerry    Male  03-04-2005  138705    9.340               Finance
4        Larry    Male   1/24/1998  101004    1.389       Client Services
..         ...     ...         ...     ...      ...                   ...
995      Henry     NaN  11/23/2014  132483   16.655          Distribution
996    Phillip    Male   1/31/1984   42392   19.675               Finance
997    Russell    Male   5/20/2013   96914    1.421               Product
998      Larry    Male   4/20/2013   60500   11.985  Business Development
999     Albert    Male   5/15/2012  129949   10.169                 Sales

[1000 rows x 6 columns]

In [27]:
print(df.info)

<bound method DataFrame.info of     First Name  Gender  Start Date  Salary  Bonus %                  Team
0      Douglas    Male  08-06-1993   97308    6.945             Marketing
1       Thomas    Male   3/31/1996   61933    4.170                   NaN
2        Maria  Female   4/23/1993  130590   11.858               Finance
3        Jerry    Male  03-04-2005  138705    9.340               Finance
4        Larry    Male   1/24/1998  101004    1.389       Client Services
..         ...     ...         ...     ...      ...                   ...
995      Henry     NaN  11/23/2014  132483   16.655          Distribution
996    Phillip    Male   1/31/1984   42392   19.675               Finance
997    Russell    Male   5/20/2013   96914    1.421               Product
998      Larry    Male   4/20/2013   60500   11.985  Business Development
999     Albert    Male   5/15/2012  129949   10.169                 Sales

[1000 rows x 6 columns]>